{% assign technologies = site.data.data.sidebar.technologies %}
{% if technologies %}
<div class="technologies-container container-block">

  <h2 class="container-block-title">
    {{ technologies.title }}
  </h2>

  <ul class="list-unstyled technologies-list">
    {% for interest in technologies.info %}

      {% if technology.link %}
      <li><a href="{{ technology.link }}">{{ technology.item }}</a></li>
      {% else %}
      <li>{{ technology.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//technologies-->
{% endif %}
